.sidebar {
  width: 30%;
  float: left;
  background-image: url(../images/ping-pong2.jpg);
color: chartreuse;
}
#result {
    display: none;
  }
h1{
	text-align: center;
	padding: 80px;
	background-image: url(../images/ping-pong1.jpg);
	color: yellow;
}
